# Notes:
#
# This workflow makes heavy use of github workflow interpolation and jq.
# We describe a few bits of syntax here to aid future readers.
#
# 1. To interpolate values from the github runner into workflow commands,
#    use the syntax ${{workflow_expr}}
#
#    Note that this syntax does not conflict with linux shell use of ${shell_expr}
#    as variable interpolation because github workflow interpolation always runs first.
#
# 2. To invoke jq, use: jq 'jq_expr'
#
#    Input will be read from stdin.
#    In our case, we use BASH/ZSH herestrings to write the value of shell variable to stdin, i.e.
#
#    jq 'jq_expr' <<< "$shell_var"
#
# 3. The jq tool takes a variety of command line options, but we describe the invocations that we use:
#
#    1. jq    'jq_expr' - returns the result of 'jq_expr' with a human-readable formatter applied
#    2. jq -c 'jq_expr' - returns the result of 'jq_expr' with a compact formatter applied (generates minimal size JSON blob)
#    3. jq -e 'jq_expr' - like invocation (1), but process has an exit code of 0 if final output is truthy; otherwise, it has an exit code of 1
#
# 4. The jq tool has an expression language where each operator takes a JSON blob as input and produces JSON as output.
#    In our tool, we use a few jq built-ins:
#
#    - .              - the identity function
#    - .key           - takes a JSON object or null, returns either the value of the given key or 'null' if the key is not present or input is null
#    - map(expr)      - takes a JSON array and returns the array resulting from applying expr to each array element
#    - select(expr)   - takes any JSON value, returns nothing if expr applied to the value is falsy; otherwise, returns the value itself
#    - expr1 | expr2  - passes result of expr1 as input to expr2
#    - length         - takes a JSON array, returns its length
#    - all(cond)      - equivalent to 'map(cond) | . == true'

name: Deploy

on:
  workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get Matching PR Head
        id: get_pr_head
        # Store user-defined inputs in env vars so control characters to avoid injections
        env:
          REPO: ${{ github.repository }}
          REF: ${{ github.ref_name }}
        run: |
          # get list of PRs for base branch
          prs=$( curl -L                                          \
                   -H 'Accept: application/vnd.github+json'       \
                   -H 'Authorization: Bearer ${{ github.token }}' \
                   -H 'X-GitHub-Api-Version: 2022-11-28'          \
                   '${{ github.api_url }}/repos/'"$REPO"'/pulls?state=closed&base='"$REF" )
          echo "List of PRs for $REF"
          jq '.' <<< "$prs"
          # for each PR whose merge commit matches the workflow branch commit hash, get the PR head commit sha
          matching_pr_heads=$( jq -c 'map( select( .merge_commit_sha == "${{ github.sha }}" ) | .head.sha )' <<< "$prs" )
          echo "Matching PR Heads for $REF"
          jq '.' <<< "$matching_pr_heads"
          # ensure that we only have 1 matching PR head
          jq -e 'length == 1' <<< "$matching_pr_heads"
          # output singular matching PR head
          echo "pr_head=$(jq -c '.[]' <<< "$matching_pr_heads")" >> "$GITHUB_OUTPUT"

      - name: Get Workflow Runs for Matching PR Head
        env:
          REPO: ${{ github.repository }}
        run: |
          # get workflow runs for the matching PR heads
          runs=$( curl -L                                          \
                    -H 'Accept: application/vnd.github+json'       \
                    -H 'Authorization: Bearer ${{ github.token }}' \
                    -H 'X-GitHub-Api-Version: 2022-11-28'          \
                    '${{ github.api_url }}/repos/'"$REPO"'/actions/runs?head_sha=${{ steps.get_pr_head.outputs.pr_head }}&per_page=100' )
          echo 'Workflow Runs for PR Head ${{ steps.get_pr_head.pr_head }}'
          jq '.' <<< "$runs"
          # ensure that we retrieved all workflow runs
          jq -e '.total_count == ( .workflow_runs | length )' <<< "$runs"
          # check that all runs have passed
          jq -e '.workflow_runs | all(.status == "completed" and .conclusion == "success")' <<< "$runs"
