name: Deploy

on:
  workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check PR Tests Pass
        run: |
          curl -L                                          \
            -H 'Accept: application/vnd.github+json'       \
            -H 'Authorization: Bearer ${{ github.token }}' \
            -H 'X-GitHub-Api-Version: 2022-11-28'          \
            '${{ github.api_url }}/repos/${{ github.repository }}/actions/runs?event=pull_request&per_page=1'
