name: Deploy

on:
  workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get Matching PR Head
        id: get_pr_head
        run: |
          # get list of PRs
          prs=$( curl -L                                          \
                   -H 'Accept: application/vnd.github+json'       \
                   -H 'Authorization: Bearer ${{ github.token }}' \
                   -H 'X-GitHub-Api-Version: 2022-11-28'          \
                   '${{ github.api_url }}/repos/${{ github.repository }}/pulls?state=closed&base=${{ github.ref_name }}' )
          jq '.' <<< "$prs"
          # for each PR whose merge commit matches the workflow branch commit hash, get the PR head commit sha
          matching_pr_heads=$( jq -c 'map( select( .merge_commit_sha == ${{ github.sha }} ) | .head.sha )' <<< "$prs" )
          jq '.' <<< "$matching_pr_heads"
          # ensure that we only have 1 matching PR head
          jq -e 'length == 1' <<< "$matching_pr_heads"
          # output singular matching PR head
          echo "pr_head=$(jq -c '.[]' <<< "$matching_pr_heads")" >> "$GITHUB_OUTPUT"

      - name: Get Workflow Runs for Matching PR Head
        run: |
          # get workflow runs for the matching PR heads
          runs=$( curl -L                                          \
                    -H 'Accept: application/vnd.github+json'       \
                    -H 'Authorization: Bearer ${{ github.token }}' \
                    -H 'X-GitHub-Api-Version: 2022-11-28'          \
                    '${{ github.api_url }}/repos/${{ github.repository }}/actions/runs?head_sha=${{ steps.get_pr_head.pr_head }}&per_page=100' )
          jq '.' <<< "$runs"
          # ensure that we retrieved all workflow runs
          jq -e '.total_count == ( .workflow_runs | length )' <<< "$runs"
          # check that all runs have passed
          jq -e 'all(.status == "completed" and .conclusion == "success")' <<< "$runs"
